*{
    box-sizing: border-box;
}

body{
    margin: 0; padding: 0;
}

.container{
    background-color: rgb(234,244,250);
    padding-top: 20px;
    text-align: center;
}


.container1{
    padding-top: 70px;
    text-align: center;
}

.name{

}

.border-test{
    border: solid black 1px;
}

.name h2{
    color: rgb(106,176,180);
    font-size: 45px; 
    margin-top: 0px;
    font-family: French Script MT;
}

.name p{
    font-family: 'Am Sans', sans-serif;
    color: rgb(103, 180, 184);
    font-size: 20px;
    margin: 0px;
}

.cloud1{
    padding-right: 180px;
}

.cloud2{
    padding-left: 180px;
}

.cloud1 img{
    height: 30px;
    width: auto;
}

.cloud2 img{
    height: 30px;
    width: auto;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}
 
.clear{
    clear: both;
}


.mountain img{
    height: 200px;
    width: auto;
    margin-bottom: -5px;
}

.self img{
    height: 150px;
    width: auto;
    margin: auto;
}

.hello{
    font-family: 'Am Sans', sans-serif;
    color: rgb(103, 180, 184);
    font-size: 22px;
    margin: 0px;
}

.profile{
    padding: 30px 0px 10px 0px;
}

.profile p{
    width: 40%;
    margin: auto;
}

.subhead{
    color: rgb(74, 175, 180);
    font-size: 13px;
    font-family: 'Am Sans', sans-serif;
}

.content{
    font-size: 12px;
}

.lapstud{
    display: flex;
    width: 40%;
    margin: auto;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.laptop div{
    padding-left: 20px;
}

.student div{
    padding-right: 25px;
}

.laptop p, .student p{
    margin: 0;
}

.laptop h4, .student h4{
    margin: 0;
}

.line1{
    width: 4%;
    border-top: 2px rgb(191,191,191);
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: dotted;
    margin-top: 50px;
    margin-bottom: 50px;
}

.line2{
    width: 40%;
    height: 6px;
    background: rgb(83, 83, 83);
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.laptop img{
    height: 120px;
    width: auto;
}

.student img{
    height: 120px;
    width: auto;
}

.inblock{
    display: inline-block;
}

.container2{
    background-color: rgb(191,191,192);
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
}

.port span{
    color: rgb(23, 112, 23);
    border-bottom: 4px solid rgb(11,176,204);
}

.one{    
    display: flex;
    justify-content: center;
}

.two{    
    display: flex;
    justify-content: center;
}

div.gallery{
    margin: 4px;
    width: 250px; 
    height: 200px;
    transition: transform 1s;
}
div.gallery img{
    width: 100%; 
    height: 100%;
}
div.gallery:hover{
    transform: scale(1.2) translate(2px, 1px);
}

.down{
    text-align: center; 
    height: 300px;
    width: auto;   
}

.button{
    margin-top:20px ;
    display: block;
}

.button input{
    height: 25px;  
    width: auto;
    background-color: rgb(19,158,161);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 35%;
}

.button input:hover{
    cursor: pointer;
    background-color: rgb(133,166,36);
}

.social{
    text-align: center;
    background-color: rgb(82,156,166);
    height: 180px;
    width: auto;
    padding-top: 30px;
}

.ease{
    display: flex;
    justify-content: center;
}

.ease div{
    margin-left: 50px;
    margin-right: 50px;
}

.ease a{
    text-decoration: none;
    color: rgb(47, 115, 122);
}

.foot{
    margin-top: 80px;
    color: white;
}